.header {
  position: sticky;
  inset-block-start: 0;
  inset-inline-start: 0;
  z-index: 50;
  &::before {
    content: "";
    position: fixed;
    inset-inline-start: 0;
    inset-block-start: 0;
    block-size: 100%;
    inline-size: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    z-index: 2;
  }
  .catalog-open & {
    &::before {
      opacity: 1;
      visibility: visible;
    }
  }
  // .header__top

  &__top {
  }
  // .header__body
  &__body {
  }
  // .header__bottom
  &__bottom {
    transition: all 0.3s;
    .catalog-open & {
      filter: blur(toRem(2));
    }
  }
}
.top-header {
  position: relative;
	z-index: 6;
	background-color: $lightColor;
  // .top-header__container

  &__container {
    padding-block: toRem(15);
    display: flex;
    gap: toRem(40);
    justify-content: space-between;
    align-items: center;
  }

  // .top-header__menu

  &__menu {
  }

  // .top-header__actions

  &__actions {
  }
}
.menu {
  // .menu__body

  &__body {
  }

  // .menu__list

  &__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: toRem(30);
    row-gap: toRem(8);
    line-height: 1.2;
  }

  // .menu__item

  &__item {
  }

  // .menu__link

  &__link {
    color: $greyColor;
    transition: text-decoration 0.3s;
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.actions-top-header {
  display: flex;
  column-gap: toRem(25);
  flex-wrap: wrap;
  row-gap: toRem(10);
  align-items: center;
  // .actions-top-header__social

  &__social {
  }

  // .actions-top-header__lang

  &__lang {
  }
}
.social-header {
  display: flex;
  align-items: center;
  gap: toRem(20);
  flex-wrap: wrap;
  // .social-header__label

  &__label {
    flex-shrink: 0;
  }

  // .social-header__items

  &__items {
    display: flex;
		// gap: toRem(20);
		align-items: center;
		flex-wrap: wrap;
		column-gap: toRem(10);
		row-gap: toRem(5);
  }

  // .social-header__item

  &__item {
  }

  // .social-header__icon

  &__icon {
    transition: transform 0.3s;
    @media (any-hover: hover) {
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
.lang-header {
  position: relative;
  // .lang-header__current

  &__current {
    display: flex;
    transition: color 0.5s;
    font-size: toRem(19);
    font-weight: 600;
    align-items: center;
    flex-direction: row-reverse;
    position: relative;
    z-index: 2;
		color: $greyColor;
    &::before {
      color: $greyColor;
      width: toRem(24);
      height: toRem(24);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: toRem(10);
      transition: transform 0.5s;
    }
    .--active & {
      color: $yellowColor;
      &::before {
        transform: rotate(-180deg);
      }
    }
  }

  // .lang-header__list

  &__list {
    position: absolute;
    top: 100%;
    width: 100%;
    padding-block: toRem(10);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
    pointer-events: none;
    &::before {
      content: "";
      box-shadow: 0 0 toRem(15) 0 rgba(0, 0, 0, 0.12);
      border-radius: toRem(8);
      position: absolute;
      width: calc(100% + toRem(10));
      height: calc(100% + toRem(34));
      top: toRem(-34);
      padding-block-start: toRem(34);
      left: toRem(-5);
      background-color: #fff;
    }
    .--active & {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }

  // .lang-header__item

  &__item {
    position: relative;
    &:not(:last-child) {
      margin-bottom: toRem(10);
    }
  }

  // .lang-header__link

  &__link {
    color: $greyColor;
    font-size: toRem(19);
    font-weight: 600;
    transition: color 0.5s;
    @media (any-hover: hover) {
      &:hover {
        color: $yellowColor;
      }
    }
  }
  @media (any-hover: hover) {
    &:hover {
      .lang-header__current {
        color: $yellowColor;
        &::before {
          transform: rotate(-180deg);
        }
      }
      .lang-header__list {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
    }
  }
}

//========================================================================================================================================================

.icon-menu {
  display: none;
}

//========================================================================================================================================================

.body-header {
  position: relative;
  background-color: #fff;
  z-index: 5;
  // .body-header__container
  &__container {
    display: flex;
    position: relative;
    align-items: center;
    gap: toRem(30);
    padding-block: toRem(27);
  }
  // .body-header__logo
  &__logo {
    flex-shrink: 0;
    margin-inline-end: toRem(5);
  }
  // .body-header__catalog
  &__catalog {
  }
  // .body-header__search
  &__search {
    flex-grow: 1;
  }
  // .body-header__contacts
  &__contacts {
    flex-shrink: 0;
  }
  // .body-header__actions
  &__actions {
    flex-shrink: 0;
  }
}
.catalog-header {
  // .catalog-header__button
  &__button {
  }
  // .catalog-header__items
  &__items {
  }
}
.button-catalog-header {
  background-color: $yellowColor;
  display: flex;
  align-items: center;
  gap: toRem(12);
  padding-block: toRem(13);
  padding-inline: toRem(22);
  border-radius: toRem(8);
  color: #fff;
  transition: background-color 0.3s;
  // .button-catalog-header__icon
  &__icon {
    inline-size: toRem(20);
    aspect-ratio: 1 / 1;
    overflow: hidden;
    flex-shrink: 0;
    position: relative;
    span {
      position: absolute;
      inline-size: 100%;
      block-size: 100%;
      top: 0;
      left: 0;
      font-size: toRem(20);
      &:first-child {
      }
      &:last-child {
        transform: translate(0px, 100%);
      }
    }
  }
  // .button-catalog-header__text
  &__text {
    font-size: toRem(19);
    font-weight: 600;
  }
  @media (any-hover: hover) {
    &:hover {
      background-color: $mainColor;
      color: #fff;
    }
  }
}
:root {
  --menu-catalog-top: 0px;
}

.items-catalog-header {
  position: absolute;
  block-size: calc(100dvh - var(--menu-catalog-top));
  inset-inline-start: 0;
  inline-size: 100%;
  overflow: auto;
  border-radius: toRem(8);
  inset-block-start: calc(100% + toRem(17));

  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  .catalog-open & {
    inset-inline-start: 0;
    opacity: 1;
    visibility: visible;
  }

  // .items-catalog-header__wrapper
  &__wrapper {
    position: absolute;

    inset-inline-start: toRem(10);

    inset-block-start: 0;
    max-width: toRem(300);
    inline-size: 100%;
    &::before,
    &::after {
      content: "";
      position: absolute;
      inset-inline-start: 0;
      background-color: #fff;
      z-index: 2;
      inline-size: 100%;
      block-size: toRem(10);
    }
    &::before {
      inset-block-start: 0;
      border-radius: toRem(8) toRem(8) 0 0;
    }
    &::after {
      inset-block-end: 0;
      border-radius: 0 0 toRem(8) toRem(8);
    }
  }

  // .items-catalog-header__list
  &__list {
    position: relative;
    background-color: #fff;
    border-radius: toRem(8);
    padding-block: toRem(10);
    @media (any-hover: hover) {
      &:hover {
        border-radius: toRem(8) 0 0 toRem(8);
      }
    }
    &::after {
      content: "";
      pointer-events: none;
      position: absolute;
      inset-inline-end: 0;
      inset-block-start: toRem(10);
      background-color: $yellowColor;
      block-size: calc(100% - toRem(20));
      transition: inline-size 0.2s;
      inline-size: toRem(0);
      z-index: 3;
    }
    @media (any-hover: hover) {
      &:hover {
        &::after {
          inline-size: toRem(5);
        }
      }
    }
  }
  // .items-catalog-header__item
  &__item {
    min-height: toRem(60);

    padding-inline-end: toRem(15);
    display: grid;
    grid-template-columns: 1fr toRem(24);

    @media (any-hover: hover) {
      &:hover {
        .items-catalog-header__link,
        .items-catalog-header__more {
          background-color: $yellowColor;
          color: $mainColor;
        }
        .items-catalog-header__sub-menu {
          inset-inline-start: 100%;
          pointer-events: all;
          inline-size: 100%;
          border-radius: 0 toRem(8) toRem(8) 0;
        }
      }
    }
  }
  // .items-catalog-header__link
  &__link {
    position: relative;
    background-color: #fff;
    z-index: 2;
    padding-inline-start: toRem(30);
    display: grid;
    flex-grow: 1;
    grid-template-columns: toRem(40) 1fr;
    gap: toRem(15);
    align-items: center;
    font-size: toRem(20);
    font-weight: 600;
    line-height: 1.4;
    margin-inline-end: toRem(-39);
  }
  // .items-catalog-header__icon
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: toRem(40);
  }
  // .items-catalog-header__text
  &__text {
    // padding-inline-end: toRem(5);
    padding-inline-end: toRem(44);
    flex-grow: 1;
  }
  // .items-catalog-header__more
  &__more {
    pointer-events: none;

    position: relative;
    z-index: 2;
    background-color: #fff;
    color: $yellowColor;
    transition: color 0.3s;

    display: flex;
    justify-content: center;
    align-items: center;
    &::before {
      font-size: toRem(13);
      transform: rotate(-90deg);
    }
  }

  // .items-catalog-header__sub-menu
  &__sub-menu {
    pointer-events: none;
    border-radius: toRem(8);
    background-color: #fff;
    block-size: 100%;
    inline-size: 80%;
    position: absolute;
    inset-inline-start: 0;
    transition: all 0.3s;
    inset-block-start: 0;
    overflow: hidden;
    padding-block: toRem(10);
  }

  // .items-catalog-header__sub-list
  &__sub-list {
    position: absolute;
    padding-inline: toRem(30);
    padding-block: toRem(20);
    overflow-y: auto;
    block-size: calc(100% - toRem(20));
    inline-size: 100%;
    inset-inline-start: 0;
    inset-block-start: toRem(10);
  }
  // .items-catalog-header__sub-item
  &__sub-item {
    &:not(:last-child) {
      margin-bottom: toRem(15);
    }
  }
  // .items-catalog-header__sub-link
  &__sub-link {
    font-size: toRem(19);
    line-height: 1.5;
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.search-header {
  border: 1px solid $lightGreyColor;
  border-radius: toRem(8);
  position: relative;
  block-size: toRem(50);
  // .search-header__input
  &__input {
    height: 100%;
    padding-inline-start: toRem(15);
    padding-inline-end: toRem(55);
    border-radius: toRem(8);
    &::placeholder {
      color: $lightGreyColor;
    }
  }
  // .search-header__button
  &__button {
    position: absolute;
    block-size: 100%;
    right: 0;
    top: 0;
    inline-size: toRem(55);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: toRem(24);
  }
}
.contacts-header {
  position: relative;
  // .contacts-header__current
  &__current {
    position: relative;
    z-index: 2;
  }
  // .contacts-header__list
  &__list {
    position: absolute;
    inline-size: 100%;
    top: 100%;
    left: 0;
    padding-block-start: toRem(10);
    padding-inline-start: toRem(60);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
    &::before {
      content: "";
      position: absolute;
      background-color: #fff;
      box-shadow: 0 0 toRem(15) 0 rgba(0, 0, 0, 0.12);
      inset-inline-start: toRem(-20);
      inset-block-start: toRem(-70);
      inline-size: calc(100% + toRem(40));
      block-size: calc(100% + toRem(90));
      border-radius: toRem(8);
    }
    .--active & {
      opacity: 1;
      visibility: visible;
    }
  }

  // .contacts-header__item
  &__item {
    position: relative;
    z-index: 2;
    &:not(:last-child) {
      margin-block-end: toRem(10);
    }
  }
  // .contacts-header__link
  &__link {
    font-size: toRem(20);
    font-weight: 600;
    line-height: 1.4;
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  // .contacts-header__callme
  &__callme {
    font-weight: 600;
    text-align: left;
    font-size: toRem(19);
    color: $yellowColor;
    line-height: 1.4;
    margin-inline-end: toRem(-33);
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.current-contacts-header {
  display: flex;
  align-items: center;
  gap: toRem(10);
  // .current-contacts-header__phone-icon
  &__phone-icon {
    inline-size: toRem(50);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: $lightColor;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: toRem(23);
    color: $greyColor;
  }
  // .current-contacts-header__body
  &__body {
  }
  // .current-contacts-header__schedule
  &__schedule {
    display: block;
    font-size: toRem(13);
    line-height: 1.69; /* 22/13 */
    font-weight: 300;
    color: $greyColor;
  }
  // .current-contacts-header__phone
  &__phone {
    font-size: toRem(20);
    font-weight: 600;
    line-height: 1.4;
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  // .current-contacts-header__arrow
  &__arrow {
    inline-size: toRem(20);
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
    overflow: hidden;
    position: relative;
    transition: transform 0.5s;
    margin-inline-start: toRem(3);
    span {
      position: absolute;
      inset-block-start: 0;
      inset-inline-start: 0;
      inline-size: toRem(20);
      display: flex;
      justify-content: center;
      align-items: center;
      aspect-ratio: 1 / 1;
      font-size: toRem(11);
      transition: transform 0.5s, opacity 0.5s;
      &:first-child {
      }
      &:last-child {
        opacity: 0;
      }
    }
    .--active & {
      span {
        transform: rotate(-180deg);
        &:first-child {
          opacity: 0;
        }
        &:last-child {
          opacity: 1;
        }
      }
    }
  }
}
.actions-body-header {
  display: flex;
  gap: toRem(20);
  // .actions-body-header__item
  &__item {
    border: toRem(1) solid $yellowColor;
    border-radius: 50%;
    width: toRem(50);
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $greyColor;
    transition: all 0.3s;
    &::before {
      font-size: toRem(23);
    }
    @media (any-hover: hover) {
      &:hover {
        background-color: $yellowColor;
        color: #fff;
      }
    }
  }
}

.bottom-header {
  border-top: toRem(2) solid #f8f8f8;
  background-color: #fff;
  padding-block: toRem(18);
  // .bottom-header__container
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // flex-wrap: wrap;
    gap: toRem(40);
  }
  // .bottom-header__list
  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: toRem(40);
    row-gap: toRem(5);
  }
  // .bottom-header__item
  &__item {
  }
  // .bottom-header__link
  &__link {
    font-size: toRem(19);
    font-weight: 600;
    line-height: 126%; /* 24/19 */
    display: flex;
    align-items: center;
    gap: toRem(10);
    transition: color 0.3s;
    &::before {
      color: $yellowColor;
      inline-size: toRem(24);
      block-size: toRem(24);
      font-size: toRem(20);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &._icon-menu-sale {
      &::before {
        font-size: toRem(24);
      }
    }

    @media (any-hover: hover) {
      &:hover {
        color: $yellowColor;
      }
    }
  }
  // .bottom-header__menu
  &__menu {
  }
}
